
/*
* Les variables que ne sont pas partagées les mettre à ce niveau
*/
$ESG-containerWidth: 20%;

#ESG-container {
	width: $ESG-containerWidth;

	.ESG-redBackground {
		background-color: $ESG-red;
	}
}

#ESG-image1 {
	background: #ffffff url("octocat.jpg?embed") no-repeat left top;
	background-size: 40px;
	width:40px;
	height: 40px;
}